// colors
$whiteColor: #fff;
$blackColor: #0c1015;
$secondBlackColor: #0f0f0f;
$yellowColor: #faee4e;
$goldColor: #eac733;

// width
$smallWidth: 576px;
$mediumWidth: 768px;
$largeWidth: 1250px;
$hdWidth: 1280px;
$fullHdWidth: 1920px;